<footer class="footer mt-auto py-4 dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="m-0 text-white">
                    {% block copyright %}
                    Made with <i class="fas fa-heart text-danger"></i> by 
                    <a href="https://yoseph.dev" class="text-white text-decoration-underline" target="_blank" rel="noopener noreferrer">
                        Yoseph Berhane
                    </a>
                    {% endblock copyright %}
                </p>
                <div class="social-links mt-3">
                    <p class="m-0 text-white">
                        Connect with me:
                        <a href="https://www.facebook.com/yosephberg/" class="text-white ms-3 social-icon" title="Facebook" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook-square fa-lg"></i>
                        </a>
                        <a href="https://twitter.com/yosephbet" class="text-white ms-3 social-icon" title="Twitter" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter-square fa-lg"></i>
                        </a>
                        <a href="https://www.instagram.com/yosephberg/" class="text-white ms-3 social-icon" title="Instagram" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram-square fa-lg"></i>
                        </a>
                        <a href="http://www.linkedin.com/in/yoseph-berhane" class="text-white ms-3 social-icon" title="LinkedIn" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-linkedin-square fa-lg"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
