{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on|date:"F d, Y" }}</p>
            </div>
            <div class="col-md-6 masthead-image d-none d-md-block">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="Post image">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}